<!DOCTYPE html>
<html>
      <head>
      <title>  new Project</title>
      <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
            <h2>{{>header}} </h2>
      
            <div class="home-title" >
            <h2> {{title}} </h2>
            <p> {{desc}} </p>
            
            </div>
            <div class="weather">
                  <h2>  {{country}} </h2>
                  <p>  {{Temperature}} </p>
                  <p> {{Stutas}} </p>
                  <p>  {{longtitude}} </p>
                  <p> {{latitude}} </p>
            </div>


      </body>
</html>